<h1><a href="/meetings">All meetings</a></h1>
<div ng-app="app">
  <div ng-controller="meetingsCtrl" ng-init="setup()">
    <div ng-repeat="meeting in meetings">
      <h3><a href="/meetings/{{meeting.id}}">{{ meeting.name }}</a></h3>
      <p>
        Tags:
        <a href="/meetings/?tag={{ tag.name }}" ng-repeat="tag in meeting.tags">{{ tag.name }}</a>
      </p>
      <p>Address: {{ meeting.address }}</p>
      <p>Start time: {{ meeting.start_time | date : 'short' }}</p>
      <p>End time: {{ meeting.end_time | date : 'short' }}</p>
    </div>
  </div>
</div>
